<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="C:\excel_to_pdf" />
        <add key="WSGI_HANDLER" value="run_app.app" />
        <add key="WSGI_LOG" value="C:\excel_to_pdf\logs\app.log" />
    </appSettings>
    <system.webServer>
        <handlers>
            <remove name="python-wfastcgi" />
            <add name="python-wfastcgi" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python\python37\python.exe|c:\python\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
